<div class="heading"><h1>About Page</h1></div>
<div class='body'>
    <p>
        Welcome to the about page.<br><br>
        
        Name: Andrew Dallow, ID: 56999204<br>   
        27 May 2015
    </p>
    <h3>How this implementation of the polls website meets the assignment 
        specifications:</h3>
    
        <h3>Website Functionality:</h3>
    <p>
        This website is split up into three views, one view for containing a 
        list of all polls, a view of the individual polls themselves, and an
        about page view. At the top of each view is a navigation bar to the 
        home poll list page and the about page.
    </p>
    
    <p>
        On the polls view (or home page), the user is presented with a list of
        all polls in the database. Each poll is shown by its title and is a
        link to another view showing more details about that poll. 
    </p>
    <p>
        The view for a specific poll contains the poll title, question,
        and all possible answers. The user can select an answer with a radio
        button and a new button will appear below the answers allowing the 
        user to cast their vote. Once a vote is submitted a thank you message 
        shows up above the answers. 
    </p>
    <p>
        In addition to the ability to cast a vote, a specific poll view contains
        two other buttons. The 'Show Votes' button, when clicked, hides the poll
        and shows a table containing the total number of votes for each question
        in that poll. The other button named 'Reset Poll', when clicked, resets
        all the votes (deletes them from the database) for the current poll and 
        then displays the table of votes for each question.
    </p>
    <h3>RESTful Services:</h3>
    <p>
        All RESTful services outlined in the assignment specification have been
        implemented. These services were implemented using codeigniter 3 by 
        creating a controller with the methods 'polls' and 'vote' with out a
        a view. When index.php/services/[method] is called the methods either return the
        appropriate data in JSON format or perform their specified action on
        the database. All inputs are checked for correctness as well as checked
        by codigniter to prevent SQL injection. 
        The table below outlines the possible calls and outputs. Note: the URI
        for all services begin with '[site URL]/index.php/services/'.
    </p>
    <table class='about'>
        <tr>
            <th>Method</th>
            <th>URI</th>
            <th>Data / example</th>
            <th>Response / example</th>
        </tr>
        <tr>
            <td class='about'>GET</td>
            <td class='about'>polls</td>
            <td class='about'>polls</td>
            <td class='about'>200 OK, [{"id":"1","title":"What is your favourite type of 
                telescope?","question":"Vote below on your favourite telescope 
                type."},{"id":"2","title":"What is your prefered mobile 
                operating system?","question":"Vote below on your prefered 
                mobile operating system."},{"id":"3","title":"What is your 
                favourite linux distribution?","question":"Vote below on your 
                favourite linux distribution."}]</td>            
        </tr>
        
        <tr>
            <td class='about'>GET</td>
            <td class='about'>polls/id</td>
            <td class='about'>polls/1</td>
            <td class='about'>200 OK, {"id":"1","title":"What is your favourite 
                type of telescope?","question":"Vote below on your favourite 
                telescope type.","answers":[{"id":"1","answer":"Reflector 
                Telescopes"},{"id":"2","answer":"Refractor Telescopes"},
                {"id":"3","answer":"Catadioptric Telescopes"}]}</td>            
        </tr>
        
        <tr>
            <td class='about'>POST</td>
            <td class='about'>votes/pollId/vote</td>
            <td class='about'>votes/1/2</td>
            <td class='about'>200 OK</td>            
        </tr>
        
        <tr>
            <td class='about'>GET</td>
            <td class='about'>votes/pollId</td>
            <td class='about'>votes/1</td>
            <td class='about'>200 OK, {"votes":[{"answer":"Reflector 
                Telescopes","total":"0"},{"answer":"Refractor Telescopes",
                "total":"1"},{"answer":"Catadioptric Telescopes","total":"0"}]}
            </td>            
        </tr>
        
        <tr>
            <td class='about'>DELETE</td>
            <td class='about'>votes/pollId</td>
            <td class='about'>votes/1</td>
            <td class='about'>200 OK</td>            
        </tr>
        
    </table>
    
    <h3>Core Design decisions, usability, and styling</h3>
    <h4>AngularJS / Website frontend</h4>
    
    <p>
        The frontend of the website is a single page application (SPA) created 
        using AngularJS and AngularJS routes. The app.js file controls the 
        routes to the three different views by taking the master template, 
        'polls.php', and loading the partial html code for the views into a div 
        tag via XMLHttpRequests. The controllers.js script contains the controller
        module for the AngularJS code in the views, loading the JSON formated 
        data obtained via web service requests as well as sending data back
        to the database. 
    </p>
    
    <h4>Codeigniter / Website backend</h4>
    <p>
        Codeigniter is used to handle the RESTful web services and the initial
        loading of the frontend of the website. The web service contains a
        controller with methods for outputting JSON formated data and adding votes.
        The controller interacts with the polls_model, used for all access to the SQL 
        database. All SQL queries are made using condigniter functions which 
        check the input for malicious data and the queries themselves are used 
        for calculates where possible, such as the sum of votes for each question
        in a poll using a single query.
    </p>
    <p>
        The style of the website is controlled using CSS. It was used to 
        colour the background of varies sections, format tables, and the
        layout of the text. 
    </p>
    
    <h3>SQL Database</h3>
    <p>The MYSQL database used in this website consists of three tables:</p>
    
        
    <ul class='sqltext'>
        <li>The 'poll' table which stores for each poll, the pollId, title, and
            question. The MYSQL command used to generate this table is:
            <ul>
                <li>
                    CREATE TABLE poll (id int NOT NULL AUTO_INCREMENT KEY, 
                    title varchar(255) NOT NULL,
                    question varchar(255) NOT NULL);
                </li>
            </ul>
            </li>
            <li>
                The 'pollanswers' table stores all possible answers for every 
                poll in the poll table. It contains answerId, the answer text,
                and the pollId that the answer is associated with. The MYSQL 
                command used to generate this table is:
                <ul>
                    <li>
                        CREATE TABLE pollanswers (id int NOT NULL AUTO_INCREMENT KEY, 
                        answer varchar(255) NOT NULL,
                        pollid int(11) NOT NULL);
                    </li>
                </ul>
            </li>
            
            <li>
                The 'vote' table stores for each vote, the vote id, the pollid,
                the IP address, and the answerid. The MYSQL command used to 
                generate this table is:
                <ul>
                    <li>
                        CREATE TABLE vote (id int NOT NULL AUTO_INCREMENT KEY,
                        pollid int(11) NOT NULL,
                        ipaddress varchar(255) NOT NULL,
                        answerid int(11) NOT NULL);
                    </li>
                </ul>
            </li>
    </ul>
    
    <h3>Files List</h3>
    <ul>
        <li>/application
            <ul>
                <li>/config
                    <ul>
                        <li>database.php</li>
                        <li>routes.php</li>
                    </ul>
                </li>
                <li>/controllers
                    <ul>
                        <li>poll.php</li>
                        <li>services.php</li>
                    </ul>                    
                </li>
                <li>/models
                    <ul>
                        <li>polls_model.php</li>
                    </ul>
                </li>
                <li>/views
                    <ul>
                        <li>polls.php</li>
                    </ul>                    
                </li>                
            </ul>
        </li>
        <li>/js
            <ul>
                <li>app.js</li>
                <li>controllers.js</li>
            </ul>            
        </li>
        <li>/partials
            <ul>
                <li>about.html</li>
                <li>poll-detail.html</li>
                <li>poll-list.html</li>
            </ul>        
        </li>
        <li>/scripts
            <ul>
                <li>angular-route.js</li>
                <li>angular.js</li>
            </ul>            
        </li>
        <li>/style
            <ul>
                <li>styles.css</li>
            </ul>            
        </li>
    </ul>

</div>