<!DOCTYPE html>
<div class="heading"><h1>Poll: <span>{{poll.title}}</span></h1></div>
<div class="success" ng-show="success_msg">
    <p>{{success_msg}}<br></p>
</div>
<div class="body" ng-hide="votes">
    <p>{{poll.question}}</p>
    <form ng-submit="submit()">
        <div class="radio" ng-repeat="answer in poll.answers">
            <label>
            <input type="radio" name="choice" ng-model="$parent.choice" 
                   ng-value="answer.id" >
            {{answer.answer}}</label>
        </div>
        
        <input type="submit" id="submit" value="Vote!" ng-show="choice"/> 
    </form>
</div>

<div class="body" ng-show="votes">
    <table class="table">
        <tr>
            <th>Answer</th>
            <th>Total Votes</th>
        </tr>
        <tr ng-repeat="vote in votes" >
            <td class='table'>{{vote.answer}}</td>
            <td class='numVotes'>{{vote.total}}</td>       
        </tr>
    </table>
</div>
<div class='body'>    
    <button ng-click="voteResults()" ng-hide='votes'>Show Votes</button>
    <button ng-click="votes = undefined" ng-show='votes'>Show Poll</button>
    <button ng-click="reset()">Reset Poll</button>
    
</div>

