<!DOCTYPE html>
<div class="heading"><h1>Poll List</h1></div>

<div class="body">
    <p>Welcome to the user page for selecting and voting on polls</p>
    <p>Select a poll to continue.</p>
    <ul>
    <li ng-repeat="poll in polls">
        <a href="#/polls/{{poll.id}}">{{poll.title}}</a>
    </li>
    </ul>
    
</div>
