/*
    Document   : nwstyles.css
    Created on : 8/07/2012
    Last edited: 18/6/2014
    Author     : RJL
    Description:
        Stylesheet for use with the nwproductbrowser family.
*/

.container {
    border: 2px solid #8AC007;
    width: 600px;
}
div.heading {
    padding: 1px;
    padding-left: 10px;
    background-color: #81F781;
}
.success {
    color: green;
}
div.body {
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #E6E6E6;
}
footer {
    background-color: gray;
}

table.nav-bar td.nav-bar{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
table.table, td.table {
    padding: 2px;
    padding-left: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}
table.about, td.about {
    padding: 2px;
    padding-left: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

table.about {
    width: 580px;
}

td.numVotes {
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}

p {
    padding-right: 20px
}


label {
    margin-top: -1px;
    vertical-align: middle;
    display: block;
}

ul.sqltext {
    padding-right: 40px;
}
